<%inherit file="app_base.htm" />

<%block name="head_title">Account Page</%block>

<%block name="content">
    <div class="content">
        <div id="user_menu">
          <ul>
            <div class="container">
              <div class="ftr-grids">
                <div class="col-md-5 ftr-grid">
                  <h4>Welcome to your account, ${ user.first_name }!</h4>
                    <ul>
                      <li><a href="#">Personal Informaion</a></li>
                      <li><a href="#">Update Password</a></li>
                    </ul>
                </div>
              </div>
            </div>
          </ul>
        </div>
  
      <div class="banner">
      </div>
    </div>
</%block>