#images img{
    width: 300px;
    max-height: 300px;
}

.panel{
    background-color: #f5f4f0;
}

#middleRow{
    margin-top: 50px;
}

#qtyBox{

}

h3 {
    margin-top: 0px;
}

#id_quantity{
    width: 75px;
    display: inline-block;
}
