.comment_form {
    line-height: 300%;
    padding-bottom: 2%
}

.text-center {
    padding-top: 4%;
}

.comment_form .text-center {
    text-align: left;
}

.comment_form .text-center > button {
    background-color: #00a0dc;
}

.comment_form .text-center > button:hover {
    background-color: #333;
}