#productImage{
    width: 150px;
}


table,th,td{
    width: 100%;
    padding: 15px;
    text-align: center;
}


#ship_btn{
    margin-bottom: 10px;
}

.finance td{
    padding:0; margin:0;
    text-align: right;
}
