html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    margin-bottom: 25px;
}


.col-md-3{
    height: 100vh;

}

header {
    text-align: center;
    font-size: 2.5em;

}


#header_icon > img {
    height: 125px;
}

.navbar {
    margin-bottom: 0!important;
    margin: 0;
}

.alert{
    width: 20%;
    float: right;
    position:absolute;
    right: 0;
    z-index: 999;
}

#above_columns{
    background-color: forestgreen;
}

.sitemap{
    background-color: #0f0f0f;
    overflow:hidden;
    height: 200px;
}

#last5List{
    margin-top: 50px;
}

#lastFive img{
    width: 100px;
}
