<%inherit file="app_base.htm" />

<%block name="head_title">Home Page</%block>


<%block name="header">
    <div class="container contentContainer" id="topContainer">
        <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div id="headerstuff">
                            <div id="header_icon">
                                <h1 id="welcome">WELCOME TO FOMO</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</%block>



<%block name="blockbody">

    <div class="container text-center" id="bodyContainer">
      <h1 id="homeTitle">Let's make some music!</h1>

        <div id="btn_container">
            <button type="button" class="btn btn-warning btn-circle btn-xl">Shop Now</button>
        </div>

    </div>



</%block>
