<%inherit file="app_base.htm" />

<%block name="head_title">Sections Page</%block>



<%block name="maintenance">
    <div id="maintenance" class="container-fluid bg-warning">
        <div class="row text-center">
            <h4>Maintenance Section</h4>
        </div>
    </div>
</%block>

<%block name="alert_block">
    <div class="alert bg-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> Best check yo self!
    </div>
</%block>


<%block name="above_columns">
    This is the body area between the header and the main columns.
</%block>


<%block name="content">
      <h3>Sections on sections on sections</h3>
</%block>

<%block name="left_column">
    Left Column
</%block>

<%block name="right_column">
    Right Column
</%block>