
<%inherit file="app_base.htm" />

<%block name="content">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/manager/index">Manager Homepage</a></li>
            <li><a href="/manager/users">User List</a></li>
            <li class="active">User</li>
        </ol>
    </div> 
    <div class="content">
        % if not create:
        <h1>User: ${ user.username }</h1>
        % else: 
        <h1>New User</h1>
        % endif
        ${ form }
    </div>

</%block>
