<%inherit file="app_base.htm"/>

<%! from catalog import models as cmod %>

<%block name="content">

    <script src="https://checkout.stripe.com/checkout.js" xmlns="http://www.w3.org/1999/html"></script>


    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
          <table class="table table-striped">
          <thead>
            <tr>
                <th>Product</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Extended Price</th>
            </tr>
          </thead>
          <tbody>
          %for c in checklist:
            <tr class="tableStuff">
                <th scope="row"><img style="width: 80px;" src=${ c.product.path } class="img-responsive" alt=""></th>
                <td style="padding-top: 25px;">${ c.product.name }</td>
                <td style="padding-top: 25px;">$${ c.product.price }</td>

                %if hasattr(c.product, 'quantity'):
                    <td style="padding-top: 25px;">x${ c.quantity }</td>
                %else:
                   <td style="padding-top: 25px;">x1</td>
                %endif
                <td style="padding-top: 25px;">$${ c.extended_amount }</td>
            </tr>
          %endfor
          </tbody>
        </table>
          <div class="text-right">
              <ul style="list-style-type: none;">
                  <strong><li>Subtotal: $${ cmod.SaleItems.calc_subtotal() }</li>
                  <li>Tax: $${ cmod.SaleItems.calc_tax() }</li>
                  <li>Shipping: $10</li>
                  <li style="text-decoration:overline;">Total: $${ cmod.SaleItems.calc_total() }</li></strong>
              </ul>

          </div>
      </div>
      <div class="col-sm-3"></div>
    </div>

   <div id="payment_form">
       ${ form }
   </div>
</%block>