<%inherit file="app_base.htm" />

<title><%block name="head_title">Details Page</%block></title>

<%! from catalog import models as cmod %>

<%block name="content">

    <div class="single-sec">
	 <div class="container">
		 <ol class="breadcrumb">
			 <li><a href="/catalog/">Catalog</a></li>
			 <li class="active">Products</li>
		 </ol>
		 <!-- start content -->
		 <div class="col-md-9 det">
				 <div class="single_left">
					 <div class="flexslider">
							<ul class="slides">
                                % for p in productImage:
                                    <li data-thumb=${ p.path }>
									    <img src=${ p.path }></img>
								    </li>
                                % endfor
							</ul>
						</div>
						<!-- FlexSlider -->
						  <script defer src="${ STATIC_URL }homepage/media/js/jquery.flexslider.js"></script>
						<link rel="stylesheet" href="${ STATIC_URL }homepage/media/css/flexslider.css" type="text/css" media="screen" />

							<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>
				 </div>
				  <div class="single-right">
					 <h3>${ product.name }</h3>
                      %if hasattr(product, 'serial_number'):
					    <div class="id"><h4>ID: ${ product.serial_number }</h4></div>
                      %endif
					  <div class="cost">
						 <div class="prdt-cost">
							 <ul>
								 <li>Sellling Price:</li>
								 <li class="active">$${ product.price }</li>
								 <div id="purchase_container">

                                    ${ form }

                                </div>
							 </ul>
						 </div>
						 <div class="clearfix"></div>
					  </div>
					  <div class="item-list">
						 <ul>
							 <li>Type: ${ product.category }</li>
							 <li>Brand: ${ product.brand }</li>
						 </ul>
					  </div>
					  <div class="single-bottom1">
						<h6>Details</h6>
						<p class="prod-desc">${ product.desc }</p>
					 </div>
				  </div>
				  <div class="clearfix"></div>
		  <!---->
	  </div>
         <div class="rsidebar span_1_of_left">
            <section  class="sky-form">
                <div class="product_right">
                    <h4 style="margin-bottom: 10px;"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Recently Viewed Items</h4>
                         <div id="lastFive">
                          % try:
                             % for h in cmod.ShoppingHistory.objects.filter(user=request.user).order_by('date_viewed'):

                                 <%

                                     if [h.product.name, h.product.id] not in request.last5:
                                        request.last5.insert(0, [h.product.name, h.product.id])
                                     else:
                                        request.last5.insert(0, request.last5.pop(request.last5.index([h.product.name, h.product.id])))

                                 %>

                             % endfor

                            % for x,y in request.last5[:5]:
                                <div class="text-center">
                                    <a href="/catalog/details/${ y }"><img style="width: 100px;" src=${ cmod.Product.objects.get(name=x).path } ></a>
                                    <div style="margin-bottom: 25px;">
                                        ${ x }
                                    </div>
                                </div>
                             % endfor
                        % except:
                            % for h in cmod.ShoppingHistory.objects.filter(user=None).order_by('date_viewed'):
                                <%

                                     if [h.product.name, h.product.id] not in request.last5:
                                        request.last5.insert(0, [h.product.name, h.product.id])
                                     else:
                                        request.last5.insert(0, request.last5.pop(request.last5.index([h.product.name, h.product.id])))

                                 %>

                             % endfor

                            % for x,y in request.last5[:5]:
                                <div class="text-center">
                                    <a href="/catalog/details/${ y }"><img style="width: 100px;" src=${ cmod.Product.objects.get(name=x).path } ></a>
                                    <div style="margin-bottom: 25px;">
                                        ${ x }
                                    </div>
                                </div>
                             % endfor
                        % endtry
                    </div>
                </div>
             </section>
         </div>
         <div class="clearfix"></div>
</div>


</%block>
