<%inherit file="app_base.htm" />

<title><%block name="head_title">Catalog</%block></title>

<%! from catalog import models as cmod %>


<%block name="content">

    <div class="product-model">
	 <div class="container">
			<ol class="breadcrumb">
		  <li><a href="/index/">Home</a></li>
		  <li class="active">Products</li>
		 </ol>
			<h2>Our Products</h2>
		 <div class="col-md-9 product-model-sec">

             %for p in products:
                 <a href="single.html"><div class="product-grid love-grid">
						<div class="more-product"><span> </span></div>
						<div class="product-img b-link-stripe b-animate-go  thickbox">
							<img src="/static/homepage/media/images/instruments/brass/tuba_1.png" class="img-responsive" alt=""/>
							<div class="b-wrapper">
							<h4 class="b-animate b-from-left  b-delay03">
                                <a href="/catalog/details/${ p.id }"><button class="btns"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button></a>
							</h4>
							</div>
						</div></a>
						<div class="product-info simpleCart_shelfItem">
							<div class="product-info-cust prt_name">
								<h4>${ p.name }</h4>
								<p>ID: SR4598</p>
								<span class="item_price">$187.95</span>
								<input type="text" class="item_quantity" value="1" />
								<input type="button" class="item_add items" value="ADD">
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
             %endfor
			</div>
			<div class="rsidebar span_1_of_left">
				 <section  class="sky-form">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
						 <div class="tab1">
							 <ul class="place">
								 <li class="sort">Brass</li>
								 <li class="by"><img src="images/do.png" alt=""></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">
									<a href="#"><p>Trumpet</p></a>
									<a href="#"><p>Tuba</p></a>
									<a href="#"><p>Flute</p></a>
									<a href="#"><p>etc</p></a>
									<a href="#"><p>etc</p></a>
						     </div>
					      </div>
						  <div class="tab2">
							 <ul class="place">
								 <li class="sort">Percussion</li>
								 <li class="by"><img src="images/do.png" alt=""></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">
								    <a href="#"><p>Snares</p></a>
								    <a href="#"><p>Bongos</p></a>
                                 <a href="#"><p>Xylophone</p></a>
                                 <a href="#"><p>Tamborine</p></a>
						     </div>
					      </div>
						  <div class="tab3">
							 <ul class="place">
								 <li class="sort">Woodwind</li>
								 <li class="by"><img src="images/do.png" alt=""></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">
									<a href="#"><p>Saxaphone</p></a>
                                 <a href="#"><p>Clarinet</p></a>
                                 <a href="#"><p>Bassoon</p></a>
                                 <a href="#"><p>Piccolo</p></a>
						     </div>
					      </div>
						  <div class="tab4">
							 <ul class="place">
								 <li class="sort">Strings</li>
								 <li class="by"><img src="images/do.png" alt=""></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">
									<a href="#"><p>Guitars</p></a>
									<a href="#"><p>Piano</p></a>
									<a href="#"><p>Cello</p></a>
						     </div>
					      </div>
						  <div class="tab5">
							 <ul class="place">
								 <li class="sort">Accessories</li>
								 <li class="by"><img src="images/do.png" alt=""></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">
									<a href="#"><p>Mouthpieces</p></a>
									<a href="#"><p>Reeds</p></a>
									<a href="#"><p>Strings</p></a>
									<a href="#"><p>Bows</p></a>
						     </div>
					      </div>
						  <!--script-->
						<script>
							$(document).ready(function(){
								$(".tab1 .single-bottom").hide();
								$(".tab2 .single-bottom").hide();
								$(".tab3 .single-bottom").hide();
								$(".tab4 .single-bottom").hide();
								$(".tab5 .single-bottom").hide();

								$(".tab1 ul").click(function(){
									$(".tab1 .single-bottom").slideToggle(300);
									$(".tab2 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
								})
								$(".tab2 ul").click(function(){
									$(".tab2 .single-bottom").slideToggle(300);
									$(".tab1 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
								})
								$(".tab3 ul").click(function(){
									$(".tab3 .single-bottom").slideToggle(300);
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})
								$(".tab4 ul").click(function(){
									$(".tab4 .single-bottom").slideToggle(300);
									$(".tab5 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})
								$(".tab5 ul").click(function(){
									$(".tab5 .single-bottom").slideToggle(300);
									$(".tab4 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})
							});
						</script>
						<!-- script -->
				 </section>
				   <section  class="sky-form">
						<h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Price</h4>
							<ul class="dropdown-menu1">
								 <li><a href="">
								<div id="slider-range"></div>
								<input type="text" id="amount" style="border: 0; font-weight: NORMAL;   font-family: 'Arimo', sans-serif;" />
							 </a></li>
						  </ul>
				   </section>
				   <!---->
					 <script type="text/javascript" src="js/jquery-ui.min.js"></script>
					 <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
					<script type='text/javascript'>//<![CDATA[
					$(window).load(function(){
					 $( "#slider-range" ).slider({
								range: true,
								min: 0,
								max: 10000,
								values: [ 0, 3000 ],
								slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
								}
					 });

                    /************************This is awesome, but we will have to figure out how it works.*******************/
					$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

					});//]]>
					</script>
					 <!---->
				   		<section  class="sky-form">
						<h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Brand</h4>
							<div class="row row1 scroll-pane">
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Akasana Collectio</label>
								</div>
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Colori</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Crafts Hub</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Jisha</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Karatcart</label>
									<label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>Titan</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Amuktaa</label>
								</div>
							</div>
				   </section>
			 </div>
	      </div>
		</div>
</div>

</%block>
