<%inherit file="app_base.htm" />

<title><%block name="head_title">Catalog</%block></title>

<%! from catalog import models as cmod %>


<%block name="content">

    <div class="product-model">
	 <div class="container">
			<h2>Our Products</h2>
		 <div class="col-md-9 product-model-sec">

             %for p in products:
                 <a href="single.html"><div class="product-grid love-grid">
						<div class="more-product"><span> </span></div>
						<div class="product-img b-link-stripe b-animate-go  thickbox">
							<img src=${ p.path } class="img-responsive" alt=""/>
							<div class="b-wrapper">
							<h4 class="b-animate b-from-left  b-delay03">
                                <a href="/catalog/details/${ p.id }"><button class="btns"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>View Details</button></a>
							</h4>
							</div>
						</div>
                 </a>
						<div class="product-info simpleCart_shelfItem">
							<div class="product-info-cust prt_name">
								<h4>${ p.name }</h4>
                                <div class="item_price"><strong>$${ p.price }</strong></div>
                               <div class="text-center">
                                    <a href="/catalog/details/${ p.id }/" class="btn btn-info" role="button" style="background-color: #00a0dc;">Shop Now</a>
                                </div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
             %endfor
			</div>
			<div class="rsidebar span_1_of_left">
				 <section  class="sky-form" style="margin-bottom: 30px;">
					 <div class="product_right">
                         <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
						 <div class="tab1">
							 <a href="/catalog/index/"><ul class="place">
								 <li class="sort">All Products</li>
								 <li class="by"><img src="/static/homepage/media/images/do.png" alt=""></li>
									<div class="clearfix"> </div>
                             </ul></a>
					      </div>
                         <div class="tab2">
							 <a href="/catalog/index/1"><ul class="place">
								 <li class="sort">Brass</li>
								 <li class="by"><img src="/static/homepage/media/images/do.png" alt=""></li>
									<div class="clearfix"> </div>
                             </ul></a>
					      </div>
						  <div class="tab3">
							  <a href="/catalog/index/5"><ul class="place">
								 <li class="sort">Percussion</li>
								 <li class="by"><img src="/static/homepage/media/images/do.png" alt=""></li>
									<div class="clearfix"> </div>
                              </ul></a>
					      </div>
						  <div class="tab4">
							  <a href="/catalog/index/2"><ul class="place">
								 <li class="sort">Woodwind</li>
								 <li class="by"><img src="/static/homepage/media/images/do.png" alt=""></li>
									<div class="clearfix"> </div>
                              </ul></a>
					      </div>
						  <div class="tab5">
							 <a href="/catalog/index/3"> <ul class="place">
								 <li class="sort">Strings</li>
								 <li class="by"><img src="/static/homepage/media/images/do.png" alt=""></li>
									<div class="clearfix"> </div>
                             </ul></a>
					      </div>
						  <div class="tab6">
							 <a href="/catalog/index/4"> <ul class="place">
								 <li class="sort">Accessories</li>
								 <li class="by"><img src="/static/homepage/media/images/do.png" alt=""></li>
									<div class="clearfix"> </div>
                             </ul></a>
					      </div>
                     </div>
				 </section>

					 <!---->
                    <section  class="sky-form">
						<h4 style="margin-bottom: 10px;"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Recently Viewed Items</h4>
							 <div id="lastFive">
                              % try:
                                 % for h in cmod.ShoppingHistory.objects.filter(user=request.user).order_by('date_viewed'):

                                     <%

                                         if [h.product.name, h.product.id] not in request.last5:
                                            request.last5.insert(0, [h.product.name, h.product.id])
                                         else:
                                            request.last5.insert(0, request.last5.pop(request.last5.index([h.product.name, h.product.id])))

                                     %>

                                 % endfor

                                % for x,y in request.last5[:5]:
                                    <div class="text-center">
                                        <a href="/catalog/details/${ y }"><img style="width: 100px;" src=${ cmod.Product.objects.get(name=x).path } ></a>
                                        <div style="margin-bottom: 25px;">
                                            ${ x }
                                        </div>
                                    </div>
                                 % endfor
                            % except:
                                % for h in cmod.ShoppingHistory.objects.filter(user=None).order_by('date_viewed'):
                                    <%

                                         if [h.product.name, h.product.id] not in request.last5:
                                            request.last5.insert(0, [h.product.name, h.product.id])
                                         else:
                                            request.last5.insert(0, request.last5.pop(request.last5.index([h.product.name, h.product.id])))

                                     %>

                                 % endfor

                                % for x,y in request.last5[:5]:
                                    <div id="last5" class="text-center">
                                        <a href="/catalog/details/${ y }"><img style="width: 100px;" src=${ cmod.Product.objects.get(name=x).path } ></a>
                                        <div style="margin-bottom: 25px;">
                                            ${ x }
                                        </div>
                                    </div>
                                 % endfor
                            % endtry
                        </div>
				   </section>
			 </div>
	      </div>
		</div>
</div>

</%block>
