<%inherit file="app_base.htm" />

<title><%block name="head_title">Receipt Page</%block></title>

<%block name="content">


    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                  <h1>Thank you for your order ${ sale.user.first_name }!</h1>
                  <h3>Your receipt has been emailed to ${ sale.user.email }</h3>
                  <div style="margin-top: 30px; margin-bottom: 35px;">
                      <table class="text-left">
                          <tr>
                              <td>Order Date: ${ sale.date.strftime("%Y-%m-%d") }</td>
                          </tr>
                          <tr>
                              <td>Ship to: ${ sale.shipping_address }</td>
                          </tr>
                          <tr>
                              <td>Total Cost: $${ sale.total_cost }</td>
                          </tr>
                      </table>
                    </div>

                    <a href="/catalog/index/" class="btn btn-primary btn-sm">Continue Shopping</a>
              </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</%block>
