<%inherit file="/homepage/templates/app_base.htm"/>

<%! from catalog import models as cmod %>



<%block name="content">
    <div>

        % if not products:
            <div class="empty_cart">
            <p>Your cart is empty!</p>
            </br>
            <a href="/catalog/index/" id="continue_shopping" class="btn btn-default btn-lg">Continue Shopping</a>
            </div>
        %else:

        <div class="checkout">
             <div class="container">
                 <ol class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Cart</li>
                 </ol>
                 <div class="col-md-9 product-price1">
                     <div class="check-out">
                         <div class=" cart-items">
                             <h3>My Shopping Bag (${ request.user.get_cart_count() })</h3>

                             <div class="in-check text-center" >
                                  <ul class="unit">
                                    <li><span>Item</span></li>
                                    <li><span>Name</span></li>
                                      <li><span>Quantity</span></li>
                                    <li><span>Extended Price</span></li>
                                    <li> </li>
                                    <div class="clearfix"> </div>
                                  </ul>

                                 %for p in products:
                                  <ul class="cart-header">
                                    <li class="ring-in"><a href="/catalog/details/${ p.product.id }" ><img style="width: 80px;" src=${ p.product.path } class="img-responsive" alt=""></a>
                                    </li>
                                    <li><span>${ p.product.name }</span></li>

                                      %if hasattr(p.product, 'quantity'):
                                          <li><span>x${ p.quantity }</span></li>
                                      %else:
                                          <li><span>x1</span></li>
                                      %endif

                                    <li><span>$${ p.extended_amount }</span></li>
                                    <li> <a href="/catalog/shopping_cart.delete/${ p.id }/" class="add-cart cart-check">Remove From Cart</a></li>
                                    <div class="clearfix"> </div>
                                  </ul>
                                 %endfor
                             </div>
                          </div>
                     </div>
                 </div>
                 <div class="col-md-3 cart-total">
                     <a class="continue" href="/catalog/index/">Continue Shopping</a>
                     <div class="price-details">
                         <h3>Price Details</h3>
                         <span>SubTotal</span>
                         <span class="total">$${ cmod.SaleItems.calc_subtotal() }</span>
                         <span>Tax</span>
                         <span class="total">$${ cmod.SaleItems.calc_tax() }</span>
                         <span>Delivery Charges</span>
                         <span class="total">$10.00</span>
                         <div class="clearfix"></div>
                     </div>
                     <h4 class="last-price">TOTAL</h4>
                     <span class="total final">$${ cmod.SaleItems.calc_total() }</span>
                     <div class="clearfix"></div>
                     <a class="order" href="/catalog/shipping/">Place Order</a>
##                      <div class="total-item">
##                          <h3>OPTIONS</h3>
##                          <h4>COUPONS</h4>
##                          <a class="cpns" href="#">Apply Coupons</a>
##                          <p><a href="#">Log In</a> to use accounts - linked coupons</p>
##                      </div>
                    </div>
             </div>
        </div>

        %endif

    </div>
</%block>

