<%inherit file="/homepage/templates/app_base.htm" />

<%block name="head_title">About Page</%block>

<%block name="content">

    <div class="container" id="storyDiv">
      <div class="row text-center">
        <div class="col-md-12 text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="font-family: 'Julius Sans One'; font-size: 48px;">The Fomo Story</h1>
                <p style="font-size: 24px;">FOMO is a locally owned retailer of musical instruments that combines passion and personality into every musical experience.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>


    <div class="container-fluid" id="teamDiv">
      <div class="row text-center">
           <h1 style="font-family: 'Julius Sans One';">We are committed to helping musicians like you.</h1>
        <div class="col-md-4">
            <img src="/static/homepage/media/john.jpeg/" alt="John Williams"/>
            <h3>Cofounder</h3>
            <p>An American composer, conductor, and pianist. With a career spanning over six decades he has composed some of the most popular and recognizable film scores in cinematic history, to many of the highest-grossing films of all-time.</p>
        </div>
        <div class="col-md-4">
            <img src="/static/homepage/media/danny.jpg/" alt="Danny Elfman"/>
            <h3>Cofounder</h3>
            <p>An American composer, singer, songwriter, and record producer looking to bring more music into the homes of the everyday family.</p>
        </div>
        <div class="col-md-4">
            <img src="/static/homepage/media/howard.jpg/" alt="Howard Shore"/>
            <h3>Music Champion</h3>
            <p>A Canadian composer who is notable for his film scores. He has composed the scores for over 80 films and has won three Academy Awards</p>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="access">
        <div class="row text-center">
            <h4 style="margin: 15px; font-family: 'Julius Sans One';">This is where I tell you the things I changed to make things more accessible.</h4>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-left">
                <ol>
                <li>Added 'alt' expressions to images in case there is a problem with them showing up.</li>
                <li>Made the About Us page easier to read with shorter and simpler statements.</li>
                <li>'Shop Now' link on homepage is yellow and easy to differentiate form other parts of the homepage.</li>
                <li>Visible labels on the contact page are outside the textbox.</li>
            </ol>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</%block>
