<%inherit file="/homepage/templates/app_base.htm" />

<%block name="head_title">About Page</%block>

<%block name="content">

    <div class="content" style="padding-left:10%; padding-right:10%; font-size: 16px;">
        <div class="row">
          <div class="col-lg-8" style="color: gray; font-size:12px;">
            <img src="${ STATIC_URL }homepage/media/founder.jpg" alt="Founder: Hans" style="width: 100%;"/>
            Founder: Johan Anderson
          </div>
          <div class="col-lg-4">
            <p>
              The Family Oriented Music Organization is a family owned music store that’s been
              operating in Utah Valley since 1952. They have been profitable but are always looking
              for ways to improve their business.
            </p>
            </br>
            <p>
              Johan Anderson knows he needs a top-quality information system to run his business,
              and in this document he shares with us his thoughts on the business processes that
              support the company. Johan started by sharing his vision of FOMO:
            </p>
            </br>
            
          </div>
        </div>

        <div class="row" style="padding-left:1%; padding-right:1%;">
            </br>
            <p>
              At the Family Oriented Music Organization, we are commited to providing the best experience for all of 
              our customers. In order to ensure that our website is easily accessible to all, we've ensured that 
              all images are enabled with "alt" text and our homepage links stand out clearly from surround text. In 
              addition to this, we've made visible labels outside of text boxes (see our "Contact" page) and organized
              our pages using hierarchical headings (see our "FAQs" page). If there is anything else we can do to make
              your FOMO experience more enjoyable, please do not hesitate to contact us! 
            </p>
            </br>
            </br>
            <p style="color:gray; font-size:20px;"><i>
              “The Family Oriented Music Organization is a store that aims to satisfy the musical needs of musicians
              and budding musicians in the area. We provide instruments, accessories, repairs, sheet music, and
              training opportunities. Our store has four main revenue streams: sales, rentals, venue
              hosting and services.” - Johan Anderson</i>
            </p>
            </br>
        </div>
    </div>

</%block>
