## this is the skeleton of all pages on in this app - it defines the basic html tags

## imports
<%! from django_mako_plus import get_template_css, get_template_js %>
<%! from catalog import models as cmod %>

<!DOCTYPE html>
<html>
<head>
    <title><%block name="head_title">FOMO</%block></title>
    <link href="${ STATIC_URL }homepage/media/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="${ STATIC_URL }homepage/media/js/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="${ STATIC_URL }homepage/media/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    ##Favicon for the tab logo
    <link rel="icon" type="image/png" href="/static/homepage/media/images/logo-32x32.png" sizes="32x32" />

    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- start menu -->
    <script src="${ STATIC_URL }homepage/media/js/simpleCart.min.js"></script>
    <!-- start menu -->
    <link href="${ STATIC_URL }homepage/media/css/memenu.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <script src="${ STATIC_URL }homepage/media/js/jquery.form.js"></script>
    <script src="${ STATIC_URL }homepage/media/js/jquery.loadmodal.js"></script>
    <!--<script>$(document).ready(function () {
        $(".memenu").memenu();
    });</script>-->
    ## render the css with the same name as this page
    ${ django_mako_plus.link_css(self) }
    ## render the JS with the same name as this page
    ${ django_mako_plus.link_js(self) }
    <!-- /start menu -->
</head>
<body>
<!--header-->
<%block name="top_header">
    <div class="top_bg">
        <div class="container">
            <div class="header_top-sec">
                <div class="top_right">
                    <ul>
                        <li><a href="/about/">about us</a></li>
                        |
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <ul>
                        <li class="top_link">Email:<a href="mailto:mail@familymusic.club">mail@familymusic.club</a></li>
                        |
                        % if user.is_authenticated:
                        <li class="top_link"><a href="/account/index/">My Account</a></li>
                        <li class="top_link"><a href="/account/logout/">Logout</a></li>
                        % else:
                        <li class="top_link" style="cursor: pointer;"><a href="/account/signup/">Sign Up</a></li>
                        <li class="top_link" style="cursor: pointer;"><a id="modallogin_button">Login</a></li>
                        % endif
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</%block>
<%block name="navbar_content">

</%block>
<!---->
<%block name="content">
<div class="banner">
    <div class="container">
    </div>
</div>
<!---->
<div class="welcome">
    <div class="container">
        <div class="col-md-3 welcome-left">
            <h2>Welcome to our site</h2>
        </div>
        <div class="col-md-9 welcome-right">
            <h3>We are the Family Oriented Music Operation</h3>
            <p>This site was developed to facilitate all musical equipment purchases and contribute to the growth
                of the local music community. Whether you're just starting to learn an instrument or have extensive
                experience in your art, you have come to the right place! We have a passion for music and all things
                rhythmic and hope to help you during your experience with music as well. Have fun and make yourself
                at home!
            </p>
        </div>
    </div>
</div>
<!---->

<!---->
<div class="featured">
    <div class="container">
        <h3>Featured Products</h3>
        <div class="feature-grids">
            <div class="col-md-3 feature-grid jewel">
                <a href="/catalog/details/20"><img src="/static/homepage/media/images/instruments/brass/tuba_1.png" alt=""/>
                    <div class="arrival-info">
                        <h4>Tuba</h4>
                    </div>
                    <div class="viw">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick
                            View
                    </div>
                </a>
            </div>
            <div class="col-md-3 feature-grid">
                <a href="/catalog/details/35"><img src="/static/homepage/media/images/instruments/string/viola_1.png" alt=""/>
                    <div class="arrival-info">
                        <h4>Viola</h4>
                    </div>
                    <div class="viw">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick
                            View
                    </div>
                </a>
            </div>
            <div class="col-md-3 feature-grid jewel">
                <a href="/catalog/details/42"><img src="/static/homepage/media/images/instruments/woodwind/sax_1.png" alt=""/>
                    <div class="arrival-info">
                        <h4>Saxophone</h4>
                    </div>
                    <div class="viw">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick
                            View
                    </div>
                </a>
            </div>
            <div class="col-md-3 feature-grid">
                <a href="/catalog/details/37"><img src="/static/homepage/media/images/instruments/woodwind/clarient_1.png" alt=""/>
                    <div class="arrival-info">
                        <h4>Clarinet</h4>
                    </div>
                    <div class="viw">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick
                            View
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
<!---->
<div class="arrivals">
    <div class="container">
        <h3>New Arrivals</h3>
        <div class="arrival-grids">
            <ul id="flexiselDemo1">
                <li>
                    <a href="/catalog/details/41"><img src="/static/homepage/media/images/instruments/woodwind/oboe_1.png" alt=""/>
                        <div class="arrival-info">
                            <h4>Oboe</h4>
                        </div>
                        <div class="viw">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/catalog/details/6"><img src="/static/homepage/media/images/instruments/accessories/guitar_strap1.png" alt=""/>
                        <div class="arrival-info">
                            <h4>Guitar Strap</h4>
                        </div>
                        <div class="viw">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/catalog/details/15"><img src="/static/homepage/media/images/instruments/accessories/trumpet_mute1.png" alt=""/>
                        <div class="arrival-info">
                            <h4>Trumpet Mute</h4>
                        </div>
                        <div class="viw">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/catalog/details/5"> <img src="/static/homepage/media/images/instruments/accessories/guitar_picks.png" alt=""/>
                        <div class="arrival-info">
                            <h4>Guitar Picks</h4>
                        </div>
                        <div class="viw">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View
                        </div>
                    </a>
                </li>
            </ul>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo1").flexisel({
                        visibleItems: 4,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });
                });
            </script>
            <script type="text/javascript" src="${ STATIC_URL }homepage/media/js/jquery.flexisel.js"></script>
        </div>
    </div>
</div>
<!---->
<div class="shoping">
    <div class="container">
        <div class="shpng-grids">
            <div class="col-md-4 shpng-grid">
                <h3>Free Shipping</h3>
                <p>On Orders Over $1000</p>
            </div>
            <div class="col-md-4 shpng-grid">
                <h3>Order Return</h3>
                <p>Return Within 14days</p>
            </div>
            <div class="col-md-4 shpng-grid">
                <h3>COD</h3>
                <p>Cash On Delivery</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</%block>
<!---->
<%block name="footer">
<div class="footer">
    <div class="container">
        <div class="ftr-grids">
            <div class="col-md-3 ftr-grid">
                <h4>About Us</h4>
                <ul>
                    <li><a href="/about/">Who We Are</a></li>
                    <li><a href="/contact/">Contact Us</a></li>
                    <li><a href="/FAQ/">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h4>Your account</h4>
                <ul>
                    <li><a href="/account/index">Your Account</a></li>
                    <li><a href="/account/editAccount/${ request.user.id }">Personal Information</a></li>
                    <li><a href="/account/editPassword/${ request.user.id }">Update your Password</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h4>Categories</h4>
                <ul>
                    <li><a href="/catalog/index/1">Brass</a></li>
                    <li><a href="/catalog/index/2">Woodwind</a></li>
                    <li><a href="/catalog/index/3">Strings</a></li>
                    <li><a href="/catalog/index/5">Percussion</a></li>
                    <li><a href="/catalog/index/4">Accessories</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</%block>
<!---->
<div class="copywrite">
    <div class="container">
        <p><% from datetime import datetime %>
        © Copyright ${ datetime.now().year }. All rights reserved.
        </p>
    </div>
</div>
</body>
</html>















