<%inherit file="/homepage/templates/app_base.htm" />

<%block name="head_title">FAQ Page</%block>

<%block name="blockbody">
    <div class="col-gold-lg">
        <h2 class="text-center">Frequently Asked Questions</h2>
        <div class="panel panel-warning" style="width: 100%">
            <div class="panel-heading">Q: Is it better to start with a new or used instrument?</div>
            <div class="panel-body">A: It really just depends on your budget. For beginners a used insrument would
                be just fine.
            </div>
        </div>

        <div class="panel panel-warning" style="width: 100%">
            <div class="panel-heading">Q: Does FOMO allow for financing on instrument purchases?</div>
            <div class="panel-body">A: Of course we do. We are always looking out for ways to get more music in the hands of our customers.
            </div>
        </div>

        <div class="panel panel-warning" style="width: 100%">
            <div class="panel-heading">Q: Does FOMO provide money back guarantees on their instruments in case of freak accidents?</div>
            <div class="panel-body">A: Yes, we provide warranties on all our instrument purchases and some of out other items as well. Each is specific to the purchase.
            </div>
        </div>
        <div class="panel panel-warning" style="width: 100%">
            <div class="panel-heading">Q: Does FOMO provide Tuning?</div>
            <div class="panel-body">A: Bring it in! We like a challenge. We will tune your stringed instruments of all shapes and sizes.
            </div>
        </div>
        <div class="panel panel-warning" style="width: 100%">
            <div class="panel-heading">Q: Does FOMO ship items out of state?</div>
            <div class="panel-body">A: Of course we do. If you need something shipped feel free to call us at 555-555-5555.
            </div>
        </div>
        <div class="panel panel-warning" id="lessons" style="width: 100%">
            <div class="panel-heading">Q: How do I sign up for lessons with a teacher?</div>
            <div class="panel-body">A: The easiest way to sign up is to stop in. We can give you a "tour", eplain the pricing and policies, find an available time that works for everyone, get you registered and paid all in one trip. You can also call us 555-555-5555 or email us at lessons@fomo.com to get the process started.
            </div>
        </div>

    </div>

    <div class="col-gold-sm text-left">
        <div id="faqNav">
            <ul>
                <h3>FAQ's</h3>
                <li>
                    <a href="#new_used">New or Used</a>
                </li>
                <li>
                    <a href="#finance">Financing</a>
                </li>
                <li>
                    <a href="#money">Return Policy</a>
                </li>
                <li>
                    <a href="#tuning">Tune-Ups</a>
                </li>
                <li>
                    <a href="#ship">Shipping Policy</a>
                </li>
                <li>
                    <a href="#lessons">Lessons</a>
                </li>
            </ul>
        </div>
    </div>
</%block>