<%inherit file="/homepage/templates/app_base.htm" />

<%block name="head_title">FAQ Page</%block>

<%block name="content">
    <div class="content" style="padding-left:12%; padding-right:12%; font-size:16px;">

        <h2>Should we buy a new or used instrument?</h2>
        <p style="padding-bottom: 15px;">
        Many used instruments can be quite reliable and usable for musicians of any level. As a general rule brass & 
        percussion instruments are more durable than woodwinds. Woodwind instruments use fragile pads and have delicate 
        parts, like springs, corks and felts. They also require precise adjustments. Pads deteriorate with time and use. 
        They may tear, mildew, swell or become damaged.  Other small parts can be missing as well. Have a musician, 
        teacher or  technician  check out the used instrument for you before you buy to insure playability. 
        Used can be an excellent way to go for many individuals, as long as the instrument is selected with care.
        </p>
        </br>
        <h2>What should I do when the instrument isn't working properly or something is stuck?</h2>
        <p style="padding-bottom: 15px;">
        Never try to repair an instrument at home. Bring the instrument to the teacher or call the FOMO or an authorized 
        repair shop where it can be properly serviced.  Many Instruments require special tools and can be easily damaged 
        even further if proper repair techniques are not followed.
        </p>
        </br>
        <h2>What are my payment options?</h2>
        <p style="padding-bottom: 15px;">
        Credit Cards: We accept Visa, MasterCard, Discover, and American Express cards.<br>
        Check/Debit Cards: We accept check and debit cards with the MasterCard or Visa logo.
        </p>
        </br>
        <h2>Do you charge tax?</h2>
        <p style="padding-bottom: 15px;">
        We are required to collect sales tax on all orders except those shipped to the following states: Alaska, Hawaii,
        Oregon, Montana, North Dakota, New Hampshire, Delaware and Wyoming.
        </p>
        </br>
        <h2>What are the delivery charges for orders from the Online Shop?</h2>
        <p style="padding-bottom: 15px;">
        FOMO charges a flat shipping rate of $10 for all orders.
        </p>
        </br>
    </div>
</%block>